/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Responsive
   ========================================================================== */

   @media (min-width: 576px) { 
       .navbar-brand img {
        width: 80%;
        position: relative;
        right: 40%;
       }
    }


/* ==========================================================================
   DESKTOP
   ========================================================================== */

   /*NAVBAR*/
.nav-link {
    position: relative;
    bottom: 40px;
    font-size: 0.7rem;
}

.nav-item.active a{
    position: relative;
    bottom: 40px;
    background-color: #E6E6E6;
    border-radius: 3px;
}

.nav-item {
    margin: 0 2px 0 2px;
}

.nav-item a:hover {
    position: relative;
    bottom: 40px;
    background-color: #E6E6E6;
}


.nav-item img {
    position: relative;
    left: 30%;
}


ul {
    padding: 0;
}

body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    color: #777;
}

#carousel-container {
    height: 420px;
    margin-bottom: 8%;
}

.container-fluid {
    margin-right: 0;
    margin-left: 0;
}

div#carousel-container.col-12.col-sm-12.col-md-4 {
    margin-top: 5%;
    margin-bottom: 3%;
}

div#products {
    margin-top: 7%;
    padding-bottom: 5%;
}

button.btn.btn-secondary.btn-sm {
    margin-top: 1.5%;
    margin-bottom: 1%;
}

/* For the image to take all the width of the container where she is */

.img-fluid {
    max-width: 100%;
    height: auto;
}

.price,
.productName {
    font-size: 12px;
    margin: 0;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

.carouselTitle {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a.btn.btn-primary {
    margin-top: 2%;
    height: 30px;
    width: 150px;
    text-align: center;
    display: inline-block;
    background-color: grey;
}

.footer,
h1 {
    text-align: center;
}

.footer,
.footerText {
    color: #777777;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    width: 100%;
}

.footerTitle {
    font-size: 24px;
}

#bottomFooter h3 {
    color: #777;
}

#bottomFooter {
    background-color: #f5f5f5;
}

#footerIcons {
    cursor: pointer;
}

#footerIcons img {
    display: block;
    margin: auto;
}

#footerMenu {
    padding-top: 2.1rem;
    padding-left: 3rem;
}

#footerMenu ul li {
    list-style: none;
    text-align: left;
}

/* BLOG */

article {
    padding-bottom: 4rem;
    padding-top: 4rem;
    padding-left: 3rem;
    text-align: justify;
}

.headArticle h1 {
    text-align: left;
}

.headerBlog {
    padding-bottom: 1.4em;
}

.author {
    font-style: italic;
    font-size: 0.8rem;
}

.tag a {
    margin: 0 0.5px 0 0.5px;
    font-size: 0.8em;
    padding: 2px;
    background-color: #e6e6e6;
    color: #777;
    border-radius: 5px;
    text-decoration: none;
}

.title a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #777;
}

.articleContent,
h3,
h4 {
    padding-bottom: 3%;
}

.articleContent {
    font-size: 0.8rem;
}

h4 {
    font-style: italic;
}

em {
    font-weight: bold;
    font-size: 0.7rem;
    font-style: initial; 
}

.SideCat, span {
    color: #444;
    font-size: 0.9em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


div.col-md-2.offset-md-1 ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    color: #444;
    font-size: 0.7em;
    line-height: 1em;
    line-height: 0.8rem;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
